.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 45rem;
  margin: 15rem auto;
  background-color: rgb(240, 240, 240);
  border-radius: 3px;
  border: 1px solid rgb(56, 56, 56);
  padding-top: 10px;
}

.main-container button {
  display: inline-block;
  margin-left: 34.5rem;
  margin-top: 20px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main-container button:hover {
  background-color: #45a049;
}

.main-content-table {
  display: flex;
  margin-top: 20px;
}

.main-container h4 {
  display: flex;
  margin-right: 35rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #ddd;
  margin-bottom: 20px;
}

th,
td {
  padding: 12px;
  /* Aumentando o espaçamento interno para melhor legibilidade */
  text-align: left;
  border-bottom: 1px solid #ddd;
  /* Utilizando uma cor de borda mais clara */
}

th {
  background-color: #f2f2f2;
  /* Tom mais claro de fundo para os cabeçalhos */
  font-weight: bold;
  color: #333;
  /* Cor do texto para o cabeçalho */
}

tbody tr:hover {
  background-color: #f5f5f5;
  /* Alterando a cor de fundo ao passar o mouse sobre as linhas */
}