.header-content {
  display: block;
  width: 40rem;
}

.header-content-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.datepicker-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.operator-input {
  display: flex;
  height: 30px;
  margin-right: 0;
}

.operator-input {
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 12px;
  border-radius: 4px;
}

.operator-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.header-content button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: 0;
}