.datepicker-input {
  position: relative;
  display: inline-block;
}

.datapicker-container input {
  height: 35px;
  width: 130px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}